.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

/* * {
  border: solid black;
} */

p, img {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: block; /* display: block, removes white space (3px) under images */
}

p {
  display: table-cell;
  vertical-align: middle;
}

span, input {
  margin: 5px;
}

.description {
  width: 300px;
}

p, img, button {
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.item {
  height: 400px;
  border: black solid 5px;
  margin: 20px;
}